layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="git" focus=true {
        pane cwd="/Users/jasonjones/ledgers"
    }

    tab name="checking" {
        pane cwd="/Users/jasonjones/ledgers"
    }

    tab name="credit card" {
        pane cwd="/Users/jasonjones/ledgers"
    }
}

