layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="scratch" focus=true {
        pane cwd="/Users/jasonjones"
    }

    tab name="ledgers" {
        pane cwd="/Users/jasonjones/ledgers"
    }

    tab name="notes" {
        pane cwd="/Users/jasonjones/notes"
    }
}

